.left {
    float: left;
    margin-right: 10px;
    margin-left: 5px;
    border-radius: 5%;
}

.right {
    float: right;
    margin-right: 10px;
    margin-left: 5px;
    border-radius: 5%;
}

.text {
    size: 0px;
    color: white;
}

.background {
    background-image: url(Img/Dot_dager_profile.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 5% 45%;
}